     1	#include <stdio.h>    <font color=green>/* entrées sorties */</font>
     2	#include <unistd.h>
     3	
     4	int main(int argc, char *argv[])
     5	{
     6	    int index;
     7	    char message[] = "bonjour";
     8	
     9	    <font color=green>/* afficher un message d'accueil */</font>
    10	    printf("\nUn petit prohramme c : %s\n", message);
    11	    // un comentaire en C
    12	    for (index = 1; index <= 3; index++) {
    13	        printf("Passage %d dans la boucle\n", index);
    14	        sleep(1);
    15	    }
    16	    return 0;
    17	}
